<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Passenger Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/estilos_msg.css}">
</head>

<body>
<div class="container">
    <h2>New Passenger Information</h2>
    <div class="info">
        <label>First Name:</label>
        <p th:text="${firstname}"></p>
    </div>
    <div class="info">
        <label>Last Name:</label>
        <p th:text="${lastname}"></p>
    </div>
    <div class="info">
        <label>Passport:</label>
        <p th:text="${passportno}"></p>
    </div>
    <div class="info">
        <label>Address:</label>
        <p th:text="${address}"></p>
    </div>
    <div class="info">
        <label>Phone:</label>
        <p th:text="${phone}"></p>
    </div>
    <div class="info">
        <label>Sex:</label>
        <p th:text="${sex}"></p>
    </div>
    <div class="info button">
        <a href="http://localhost:8080/flights_api/Web/Tickets/CreateTicket">Back to tickets</a>
    </div>
</div>

</body>

</html>