<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create New User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
<div class="form-container">
    <form th:object="${passenger}" method="post" th:action="@{/Web/Passenger/NewPassenger/Create}">
        <!--    FIRST NAME   -->
        <div class="form-group">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" th:field="*{firstname}">
            <div th:if="${#fields.hasErrors('firstname')}" class="error-message">
                <p th:errors="*{firstname}">First name is required</p>
            </div>
        </div>

        <!--    LAST NAME   -->
        <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" th:field="*{lastname}">
            <div th:if="${#fields.hasErrors('lastname')}" class="error-message">
                <p th:errors="*{lastname}">Last name is required</p>
            </div>
        </div>

        <!--    PASSPORT   -->
        <div class="form-group">
            <label>Passport:</label>
            <input type="hidden" th:field="*{passportno}"/>
            <label class="form-control" th:text="*{passportno}"></label>

            <div th:if="${#fields.hasErrors('passportno')}" class="error-message">
                <p th:errors="*{passportno}">Passport must begin with letter</p>
            </div>
        </div>

        <!--    ADDRESS   -->
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" id="address" th:field="*{address}">
        </div>

        <!--    PHONE   -->
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" th:field="*{phone}">
            <div th:if="${#fields.hasErrors('phone')}" class="error-message">
                <p th:errors="*{phone}">Phone must begin with country code</p>
            </div>
        </div>

        <!--    SEX   -->
        <div class="form-group">
            <label for="sex">Sex:</label>
            <input type="text" id="sex" th:field="*{sex}">
            <div th:if="${#fields.hasErrors('sex')}" class="error-message">
                <p th:errors="*{sex}">Sex must be 'M' or 'F'</p>
            </div>
        </div>

        <!--    SUBMIT BUTTON   -->
        <button type="submit">Create User</button>
    </form>
</div>
</body>

</html>


<!-- ALERTAS -->
<!-- Este metodo para mostrar alertas no me disgustaba.
     Lo dejo comentado para acordarme de implementarlo en el futuro
-->
<!--
<div th:if="${#fields.hasErrors('sex')}" class="alert">
    <p th:errors="*{sex}">Sex must be 'M' or 'F'</p>
</div>

        <div class="form-group">
            <label for="passportno">Passport:</label>
            <input type="text" id="passportno" th:field="*{passportno}">
            <div th:if="${#fields.hasErrors('passportno')}" class="error-message">
                <p th:errors="*{passportno}">Passport must begin with letter</p>
            </div>
        </div>
-->