* {
    padding: 0px;
    margin: 0px;
}

h3 {
    background-color: lightyellow;
    border-radius: 15px 0px;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#form-content {
    display: block;
}